.container
{
  margin-top: 90px;
  margin-left:  auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
}
h1{
  text-align: center;
}



td{
    border-color: #54b948;
    border-style: solid;
    width: 13%;

}

input[type="text"]:focus{
    border-color: #54b948;
    
  }

  input[type="text"]{
    
    border-style: solid;
    width: 150%;
  }

  input[type="text"]:hover{
    color: #54b948;
    box-shadow: #54b948;
    border-color: #54b948;
  }

  .button-rem{
    color: black;
    box-shadow:white;
    border-color: black;
    background-color:white;
    width: 100%;
    
  }

  

  